.expo/
.expo-shared/
.gradle/
android/.gradle/
android/app/build/
android/build/
android/local.properties
assets/
coverage/
dist/
*.jks
*.keystore
*.log
build/
node_modules/
web-build/
.DS_Store
ios/build/
ios/Pods/
.env.local
.env.development.local
.env.test.local
.env.production.local
